{% extends 'base.html' %}

{% block title %}
{{ page_title }}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-1"></div>
    <div class="col-6">
        <h2>{{ page_title }}</h2>
        {% include('messages.html') %}
        {% for news in news_list %}
        <h5><a href="{{ url_for('news.single_news', news_id=news.id) }}">{{ news.title }}</a></h5>
        <p>{{ news.published.strftime('%d.%m.%y') }} | Коментрии: {{ news.comments_count()}}</p>
        <hr/>
        {% endfor %}
    </div>
    <div class="col-4">
        <h3>
            {% if weather %}
            Погода: {{weather.temp_C}}, ощущается как: {{weather.FeelsLikeC}}
            {% else %}
            Сервер погоды временно недоступен
            {% endif %}
        </h3>
    </div>
</div>
{% endblock %}